<div class="container">
  <div class="jumbotron">
    <h1>{{ title }}</h1>
  </div>
  <div>
    {{ Username }} <br />
    <b>Kullanıcı Adı:</b><input type="text" [(ngModel)]="Username" />
    <input
      type="button"
      [disabled]="Username == ''"
      value="Gönder"
      (click)="GetUserDetail()"
    />
  </div>
  <div *ngIf="User != null; then content; else othercontent"></div>
  <ng-template #content>
    <font color="red"
      ><b
        ><h3>{{ User.bio }}</h3></b
      ></font
    >
    <table class="table">
      <tr>
        <td><img [src]="User.avatar_url" alt="result" width="200" /></td>
        <td>
          <textarea cols="100" rows="20">{{ User | json }}</textarea>
        </td>
      </tr>
    </table>
    <div *ngIf="Repos != null; then reposcontent; else otherreposcontent"></div>
    <ng-template #reposcontent>
      <repos [ReposList]=Repos (sayMyName)="alertMessage($event)"></repos>
    </ng-template> 
    <ng-template #otherreposcontent>Please wait  for the Repos.</ng-template>
  </ng-template>
  <ng-template #othercontent> Please enter Username! </ng-template>
</div>
